<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css" />
  <title>Document</title>
</head>

<body>
  <div class="container">

    {{>header}}

    <div class="search-div">
      <form action="#" class="search">
        <input type="text" class="search__input" placeholder="Location">
        <button class="search__button">
          <span class="search__icon">
            <i class="fas fa-search"></i>
          </span>
        </button>
      </form>
    </div>
    {{!-- <span id = "error" class="error">Error something is happing Error</span> --}}

    <section class="main">
      <div id = "weather">
        <div>
          <h5 id="city-name">Philadelphia</h5>
          <h6 id="current-time">Monday, January 7 2019 12:03 PM</h6>

        </div>

        <div>
          <img src='http://openweathermap.org/img/w/01d.png' alt="weather-icon" id="weather-icon">
        </div>

        <div>
          <h1 id="temperature">
            70
          </h1>
          <p><span id="high-temp">30</span> / <span id = "low">20</span></p>
        </div>

      </div>

      <div id="summary">
        <p>This is a summary</p>
        <p>This is a summary</p>
        <p>This is a summary</p>
        <p>This is a summary</p>
        <p>This is a summary</p>
        <p>This is a summary</p>
      </div>

    </section>

    {{>footer}}

  </div>

  <script src="/js/app.js"></script>
</body>

</html>